In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns 
%matplotlib inline

In [2]:
# Load the data set 

netflix = pd.read_csv('Resources/netflix_titles.csv')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
netflix.shape

(6234, 12)

In [4]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.5+ KB

Looks like director, cast, and country have the most missing values. Based on our goals, these columns wont be relevant in our analysis.

In [5]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
netflix = netflix.rename({'listed_in': 'genre', 'rating':'film_rating', 'release_year':'original_release_year'}, axis=1)

netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'original_release_year', 'film_rating', 'duration', 'genre',
       'description'],
      dtype='object')

In [7]:
netflix.dtypes

show_id                   int64
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added               object
original_release_year     int64
film_rating              object
duration                 object
genre                    object
description              object
dtype: object

In [8]:
netflix_cleaned = netflix.dropna(subset=['date_added'])
netflix_cleaned.head()

,show_id,type,title,director,cast,country,date_added,original_release_year,film_rating,duration,genre,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [9]:
netflix_cleaned['date_added']

0       September 9, 2019
1       September 9, 2016
2       September 8, 2018
3       September 8, 2018
4       September 8, 2017
5       September 8, 2017
6       September 8, 2017
7       September 8, 2017
8       September 8, 2017
9       September 8, 2017
10      September 8, 2017
11      September 8, 2017
12      September 8, 2017
13      September 8, 2017
14      September 8, 2017
15      September 8, 2017
16      September 8, 2017
17      September 8, 2017
18      September 8, 2017
19      September 8, 2017
20      September 8, 2017
21      September 8, 2017
22      September 8, 2017
23      September 8, 2017
24      September 8, 2017
25      September 8, 2015
26      September 7, 2018
27      September 7, 2018
28      September 7, 2018
29      September 7, 2018
              ...
6193       April 29, 2019
6194       April 28, 2019
6195       April 27, 2018
6196       April 27, 2017
6197       April 26, 2019
6198       April 26, 2019
6199       April 23, 2019
6200       April 23, 2017
6201       April 21, 2017
6202       April 20, 2017
6203        April 2, 2018
6204       April 19, 2019
6205       April 19, 2019
6206       April 19, 2019
6207       April 17, 2018
6208       April 17, 2016
6209       April 16, 2019
6210       April 15, 2018
6211       April 15, 2018
6212       April 15, 2017
6213       April 15, 2017
6214       April 14, 2017
6215       April 13, 2019
6216       April 13, 2018
6217       April 11, 2019
6218       April 10, 2019
6219        April 1, 2019
6220        April 1, 2016
6221        April 1, 2016
6222        April 1, 2014
Name: date_added, Length: 6223, dtype: object

In [10]:
netflix_cleaned['month_added'] = netflix_cleaned['date_added'].str.split(' ').apply(lambda x:x[0])
netflix_cleaned['day_added'] = netflix_cleaned['date_added'].str.replace(',','').str.split(' ').apply(lambda x:x[1])
netflix_cleaned['year_added'] = netflix_cleaned['date_added'].str.split(' ').apply(lambda x:x[2])

netflix_cleaned.head()

C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,show_id,type,title,director,cast,country,date_added,original_release_year,film_rating,duration,genre,description,month_added,day_added,year_added
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,September,9,2019
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,September,9,2016
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",September,8,2018
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,September,8,2018
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,September,8,2017

In [11]:
netflix_cleaned['film_rating'].value_counts()

TV-MA       2025
TV-14       1695
TV-PG        699
R            508
PG-13        286
NR           217
PG           184
TV-Y7        168
TV-G         149
TV-Y         142
TV-Y7-FV      95
G             37
UR             7
NC-17          2
Name: film_rating, dtype: int64

In [12]:
netflix_cleaned['genre'].value_counts()

Documentaries                                                 299
Stand-Up Comedy                                               273
Dramas, International Movies                                  248
Dramas, Independent Movies, International Movies              186
Comedies, Dramas, International Movies                        174
Kids' TV                                                      158
Documentaries, International Movies                           150
Children & Family Movies, Comedies                            129
Comedies, International Movies                                120
Children & Family Movies                                      120
Dramas, International Movies, Romantic Movies                 108
Action & Adventure, Dramas, International Movies              103
Comedies, International Movies, Romantic Movies                97
Dramas, International Movies, Thrillers                        93
Crime TV Shows, International TV Shows, TV Dramas              92
International TV Shows, TV Dramas                              92
Dramas                                                         89
International TV Shows, Romantic TV Shows, TV Dramas           78
Comedies, Dramas, Independent Movies                           77
Action & Adventure, International Movies                       75
Kids' TV, TV Comedies                                          74
Comedies                                                       73
Action & Adventure                                             68
Dramas, Independent Movies                                     68
International TV Shows, Romantic TV Shows, TV Comedies         66
Docuseries                                                     64
Anime Series, International TV Shows                           62
Documentaries, Music & Musicals                                57
Action & Adventure, Comedies, International Movies             57
International TV Shows, Korean TV Shows, Romantic TV Shows     56
                                                             ...
Children & Family Movies, Sports Movies                         1
Horror Movies, Independent Movies, Sci-Fi & Fantasy             1
Horror Movies, International Movies, Sci-Fi & Fantasy           1
Children & Family Movies, Comedies, Cult Movies                 1
Classic & Cult TV, TV Horror, TV Mysteries                      1
Children & Family Movies, Comedies, LGBTQ Movies                1
Comedies, Faith & Spirituality, Romantic Movies                 1
Romantic TV Shows, Spanish-Language TV Shows, TV Dramas         1
TV Comedies, TV Mysteries                                       1
Independent Movies                                              1
British TV Shows, Reality TV, Romantic TV Shows                 1
Crime TV Shows, TV Comedies                                     1
Crime TV Shows, TV Dramas, TV Horror                            1
Classic & Cult TV, Kids' TV, TV Comedies                        1
Action & Adventure, Dramas, Faith & Spirituality                1
Docuseries, Reality TV, Teen TV Shows                           1
Action & Adventure, Sports Movies                               1
Anime Features, Romantic Movies                                 1
British TV Shows, Kids' TV, TV Thrillers                        1
International TV Shows, TV Mysteries, TV Thrillers              1
Action & Adventure, Classic Movies, Sci-Fi & Fantasy            1
Action & Adventure, Romantic Movies, Sci-Fi & Fantasy           1
Comedies, Dramas, Sports Movies                                 1
TV Horror, TV Mysteries, Teen TV Shows                          1
TV Dramas, TV Mysteries, TV Thrillers                           1
Docuseries, Science & Nature TV, TV Dramas                      1
Reality TV, TV Horror, TV Thrillers                             1
TV Comedies, TV Dramas, TV Mysteries                            1
Kids' TV, Reality TV, Science & Nature TV                       1
Classic & Cult TV, Crime TV Shows, TV Dramas                    1
Name: genre, Length: 461, dtype: int64

In [15]:
netflix_cleaned['season_for_tv_show'] = netflix_cleaned.apply(lambda x : x['duration'].split(' ')[0] if "Season" in x['duration'] else '',axis=1)

netflix_cleaned['duration'] = netflix_cleaned.apply(lambda x : x['duration'].split(' ')[0] if "Season" not in x['duration'] else '',axis=1)

C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
netflix_df = netflix_cleaned[['type', 'title','director','country','original_release_year', 'film_rating','duration','genre','season_for_tv_show']]

In [19]:
netflix_df.isnull().sum()

type                        0
title                       0
director                 1958
country                   474
original_release_year       0
film_rating                 9
duration                    0
genre                       0
season_for_tv_show          0
dtype: int64

In [20]:
netflix_df.shape

(6223, 9)