In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns 
%matplotlib inline

In [2]:
# Load the data set 

netflix = pd.read_csv('Resources/netflix_titles.csv')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
netflix.shape

(6234, 12)

In [4]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.5+ KB

Looks like director, cast, and country have the most missing values. Based on our goals, these columns wont be relevant in our analysis.

In [5]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
netflix = netflix.rename({'listed_in': 'genre', 'rating':'film_rating'}, axis=1)

netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'film_rating', 'duration', 'genre', 'description'],
      dtype='object')

In [7]:
netflix.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
film_rating     object
duration        object
genre           object
description     object
dtype: object

In [10]:
netflix_cleaned = netflix.dropna(subset=['date_added'])
netflix_cleaned.head()

,show_id,type,title,director,cast,country,date_added,release_year,film_rating,duration,genre,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [11]:
netflix_cleaned['date_added']

0       September 9, 2019
1       September 9, 2016
2       September 8, 2018
3       September 8, 2018
4       September 8, 2017
5       September 8, 2017
6       September 8, 2017
7       September 8, 2017
8       September 8, 2017
9       September 8, 2017
10      September 8, 2017
11      September 8, 2017
12      September 8, 2017
13      September 8, 2017
14      September 8, 2017
15      September 8, 2017
16      September 8, 2017
17      September 8, 2017
18      September 8, 2017
19      September 8, 2017
20      September 8, 2017
21      September 8, 2017
22      September 8, 2017
23      September 8, 2017
24      September 8, 2017
25      September 8, 2015
26      September 7, 2018
27      September 7, 2018
28      September 7, 2018
29      September 7, 2018
              ...
6193       April 29, 2019
6194       April 28, 2019
6195       April 27, 2018
6196       April 27, 2017
6197       April 26, 2019
6198       April 26, 2019
6199       April 23, 2019
6200       April 23, 2017
6201       April 21, 2017
6202       April 20, 2017
6203        April 2, 2018
6204       April 19, 2019
6205       April 19, 2019
6206       April 19, 2019
6207       April 17, 2018
6208       April 17, 2016
6209       April 16, 2019
6210       April 15, 2018
6211       April 15, 2018
6212       April 15, 2017
6213       April 15, 2017
6214       April 14, 2017
6215       April 13, 2019
6216       April 13, 2018
6217       April 11, 2019
6218       April 10, 2019
6219        April 1, 2019
6220        April 1, 2016
6221        April 1, 2016
6222        April 1, 2014
Name: date_added, Length: 6223, dtype: object

In [20]:
netflix_cleaned['month_added'] = netflix_cleaned['date_added'].str.split(' ').apply(lambda x:x[0])
netflix_cleaned['day_added'] = netflix_cleaned['date_added'].str.replace(',','').str.split(' ').apply(lambda x:x[1])
netflix_cleaned['year_added'] = netflix_cleaned['date_added'].str.split(' ').apply(lambda x:x[2])

netflix_cleaned.head()

,show_id,type,title,director,cast,country,date_added,release_year,film_rating,duration,genre,description,month_added,year_added,day_added
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,September,2019,9
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,September,2016,9
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",September,2018,8
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,September,2018,8
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,September,2017,8